body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #E5E5E5;
}

:root {
    --heading-color: #562EFF;
}

a {
    text-decoration: none;
    color: white;
}

.container {
    max-width: 870px;
    margin: 0 auto;
}

header {
    background-color: var(--heading-color);
    padding: 10px 0;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 40px;
    margin-right: 10px;
}

nav {
    color: white;
    display: flex;
    justify-content: space-between;
}

.menu {
    display: flex;
    align-items: center;
}

.menu a {
    margin-left: 20px;
}

/* Top player and blog section */

.board {
    background-color: white;
    padding: 33px;
    max-width: 807px;
    margin-bottom: 20px;
    margin-top: 20px;
    border-radius: 5px;

}

.player img {
    max-height: 56px;
    margin-right: 10px;
}

.player {
    display: flex;
    align-items: center;
}

.player h3 {
    font-size: 18px;
    font-weight: 600;
}

.players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 20px;
    margin-bottom: 20px;
}

.board h2 {
    font-size: 24px;
    font-weight: 600;
    color: var(--heading-color);
}

/* Blog Section */

.blogs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 26px;
    grid-column-gap: 46px
}

article {
    display: flex;
    align-items: center;
}

article:hover {
    cursor: pointer;
}

article img {
    max-width: 90%;
}

.half {
    max-width: 50%;
}

.blogs p {
    color: gray;
}

.blogs span {
    color: var(--heading-color);
}

.blogs h3 {
    font-size: 20px;
    font-weight: 600;
}

/* Courses Section */

.ratings {
    display: flex;
    align-items: center;
}

.time {
    background-color: #FFE4E8;
    padding: 5px 10px;
    border-radius: 20px;
    display: flex;
    align-items: center;
}

.courses {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 10px;
}

.course {
    padding: 10px;
}

.course img {
    max-width: 100%;
}

.details {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.details p {
    margin: 0;
}

.course h3 {
    font-size: 20px;
    font-weight: 600;
}

.instructer {
    color: red;
}

/* Responsive */

@media screen and (max-width: 576px) {

    .courses,
    .blogs {
        grid-template-columns: repeat(1, 1fr);
    }

    .players {
        grid-template-columns: repeat(2, 1fr);
    }

    nav {
        flex-direction: column;
    }

    .logo {
        justify-content: center;
    }

    .menu {
        justify-content: center;
    }

}